body{
    background-image: url(images/mountain\ wallpaper.jfif);
background-size: 1300px 640px;
    background-repeat: no-repeat;
}

.nav {
float: right;
    padding: 10px 0; 
}

.nav ul {
    list-style-type: none; 
    text-align: center; 
    margin: 0;
    padding: 0;
}

.nav ul li {
    display: inline; 
    margin-right: 20px; 
}

.nav ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    padding: 10px 15px; 
}
.navbar-brand{
    float: left;
    color: white;
}

